[phd]
database = phd
host     = 127.0.0.1
password = footpad-chidden-edifice-$J4
port     = 3306
user     = rstudio
innodb_buffer_pool_size = 42949672960

[mysqld]
innodb_buffer_pool_size = 42949672960